<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.angelmariages.rodalieswidget">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="net.grandcentrix.tray.provider.TrayContentProvider"
            android:authorities="org.angelmariages.rodalieswidget"
            android:exported="true"
            tools:replace="android:exported,android:authorities" />

        <receiver android:name=".WidgetManager">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
        <receiver android:name=".WidgetReceiver"/>

        <activity
            android:name=".SelectStation"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_select_station"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <activity
            android:name=".SelectAlarmActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_select_alarm"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Dialog"/>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <!-- noHistory! -->
        <activity
            android:name=".FirstTimeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
            android:name=".AlarmReceiver"
            android:process=":alarm"/>
    </application>

</manifest>