<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.angelmariages.rodalieswidget">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".WidgetManager">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name=".WidgetReceiver" />

        <activity
            android:name=".SelectStation"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_select_station"
            android:theme="@style/Theme.AppCompat.Dialog"/>

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme"
            android:noHistory="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>